.intro-container-projects {
    background-color: grey;
    padding-top: 60px;
}


.slideshow-container {
    position: relative;
    width: 100%;
    height: 100%; /* Adjust height as needed */
    overflow: hidden;

    background-color: grey;
  }


  /* Each individual image */
  .slide-container {
    /* Centers the image */
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;

 
    /* change this eventually
    opacity: 0;
    transition: opacity 1s ease;
    */


  }
  
  .slide-container.active {
    opacity: 1;
  }
  