body {
    margin: 0;
}

.navbar {
    height: 60px;
    width: 100%; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 999; /* Stay on top of other things on the page*/
    background-color: #535e64;
}


.site-section {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; /* Allows justify-content: center to center it (left to right) */ 
    justify-content: center; /* Centers content from left to right */ 
}

.site-item {
    display: inline;
    padding: 20px;
}

.site-item a {
    color: wheat;
}

.site-item:hover {
    background-color: #aaaaaa;
}

.content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.intro-container {
    height: 100%;
    background-color: grey;
    padding-top: 60px;
}

.intro {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 2em 0;
}

.intro-name {
    display: flex;
    justify-content: center;
    font-family: 'Playfair Display';
    font-size: 64px;
    font-weight: lighter;
    letter-spacing: 0.6em;
    margin: 0;
}

.intro-welcome {
    display: flex;
    justify-content: center;
    font-family: 'Playfair Display';
    font-weight: lighter;
    letter-spacing: 0.3em;
}

.typing-word-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 3rem;

    font-family: 'Playfair Display';
    font-weight: lighter;
    letter-spacing: 0.3em;
}

.typing-word-container p {
    font-size: 22px;
    margin: 0;
}

#words {
    color: wheat;
    text-decoration: underline;
}

.photo-container {
    display: flex;
    justify-content: center;
    max-width: 100%; /* Ensures that the image scales down proportionally within the available space without exceeding the original dimensions.*/
    max-height: 100%; /* Ensures that the image scales down proportionally within the available space without exceeding the original dimensions.*/
    background-color: grey;
}

.prof-pic {
    height: auto;
    width: 25%;
    border-radius: 50%;
}

.about-me-container {
    display: flex;
    justify-content: center;
    background-color: grey;
    font-size: 1.2rem;
    text-align: justify;
<<<<<<< HEAD
    padding: 60px 0;
}

.about-text-container {
    width: 36rem;
}

.about-text-container p {
    margin: 1em 0;

}

.about-text-container :first-child {
    margin-top: 0;
}

.about-text-container :last-child {
=======
}

.text-container {
    width: 32rem;
}

.text-container p {
    margin: 1em 0;
}

.text-container :first-child {
    color: blue;
    margin-top: 0;
}

.text-container :last-child {
    color: pink;
>>>>>>> c864cee (Added text container and some text for the about me section)
    margin-bottom: 0;
}

.link-container {
    display: flex;
    justify-content: center;
    max-width: 100%; /* Ensures that the image scales down proportionally within the available space without exceeding the original dimensions.*/
    max-height: 100%; /* Ensures that the image scales down proportionally within the available space without exceeding the original dimensions.*/
    background-color: grey;
}

.link-list {
    display: flex; /* Allows justify-content: center to center it (left to right) */ 
    justify-content: space-between; /* Centers content from left to right */ 
    list-style-type: none;
    padding: 0;
}
.link-list li {
    width: 50px;
    height: 50px;
}

.link-list li img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image will fill container without distortion */
}

.link {
    padding: 10px;
}

.link:hover {
    background-color: #aaaaaa;
}



